<!DOCTYPE html>
<html>
<head>
  <title>Genarator</title>
  <link rel="stylesheet" type="text/css" href="static/css/style_gen.css">
</head>
<body>
    <div>
        <nav style="height: auto;">
            <img src="static/images/Logo-sf.png" alt="" class="logo" />
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>

    <div class="haut" style="background-color: rgb(173, 212, 245); margin-top: 50px; border: 50px; max-width: 550px; border-radius: 10px;  height: auto; margin-bottom: 5px;">
        <h2>Generate your data</h2>
        <p>Generate your data in CSV, SQL format</p>
        <label for="dropdown-select" style="margin-right: 20px; font-size: 21px;">Select your format</label>
        <select name="dropdown-f[]" id="dropdown-select-f" style="margin-right: 7px;">
            <option value="csv">CSV</option>
            <option value="sql">SQL</option>
        </select>
    </div>


    <div class="container" style="background-color: rgb(173, 212, 245); margin-top: 20px; border: 50px; max-width: max-content; border-radius: 10px;  height: auto;">

        <h1>Set column names</h1>
        <h3 id="tbl">
            <label for="number-of-rows" style="margin-right: 20px;">Number of lines (100M max)</label>
        </h3>
        <h3 id="tb">
            <input type="number" id="number-of-rows" name="number-of-rows" min="1" max="100000000">
        </h3>
        <h4 id="lh4"  style="display: flex; align-items: center; margin-left: 30px;">
            <label for="dropdown-select-1" style="margin-right: 20px; font-size: 21px;">Column type</label>
            <label for="data-type-1" style="margin-left: 50px; margin-right: 10px; font-size: 21px;">Column name</label>
        </h4>
        <div id="rows-container">
            <div class="row">
                <select name="dropdown[]" id="dropdown-select" style="margin-right: 7px;">
                    <option value="address">Full Address</option>
                    <option value="street_address">Street Address</option>
                    <option value="postcode">Postal Code</option>
                    <option value="city">City</option>
                    <option value="state">State</option>
                    <option value="country">Country</option>

                    <option value="first_name">First Name</option>
                    <option value="last_name">Last Name</option>
                    <option value="first_name_male">Male First Name</option>
                    <option value="first_name_female">Female First Name</option>
                    <option value="prefix">Name Prefix</option>
                    <option value="suffix">Name Suffix</option>
                    <option value="prefix_male">Male Title Prefix</option>
                    <option value="prefix_female">Female Title Prefix</option>

                    <option value="int_identifiant">INT/IDENTIFIANT</option>
                    <option value="phone_number">Phone Number</option>
                    <option value="cellphone_number">Cellphone Number</option>
                    <option value="international_phone_number">International Phone Number</option>

                    <option value="email">Email Address</option>
                    <option value="user_name">Username</option>

                    <option value="date_of_birth">Date of Birth</option>
                    <option value="date_time">Date and Time</option>
                    <option value="time">Time</option>
                    <option value="year">Year</option>
                    <option value="month">Month</option>
                    <option value="day_of_month">Day</option>
                    <option value="day_of_week">Day of the Week</option>

                    <option value="sentence">Sentence</option>
                    <option value="paragraph">Paragraph</option>
                    <option value="text">Full Text</option>
                    <option value="word">Word</option>
                    <option value="words">List of Words</option>

                    <option value="company">Company Name</option>
                    <option value="bs">Business Sector</option>
                    <option value="company_logo">Company Logo</option>
                    <option value="job">Job</option>
                    <option value="user_agent">User Agent</option>

                    <option value="price">Price</option>
                    <option value="amount">Amount</option>
                    <option value="currency_code">Currency Code</option>
                    <option value="credit_card_number">Credit Card Number</option>
                    <option value="bank_account_number">Bank Account Number</option>

                    <option value="url">URL</option>
                    <option value="user_name">Username</option>
                    <option value="domain_name">Domain Name</option>
                    <option value="ipv4">IP Address</option>
                    <option value="ipv6">IPv6 Address</option>

                    <option value="color_name">Color Name</option>
                    <option value="hex_color">Hex Color Code</option>
                    <option value="rgb_color">RGB Color</option>
                </select>
                <input type="text" name="text[]" id="column-name" placeholder="Column name">
                <button class="espa-button" style="margin-left: 7px; border-radius: 7px; font-weight: bold; font-size: 10px;">-</button>
            </div>
        </div>
        <button id="add-button">Add a new line</button>
        <button id="generate-button">Generate Data</button>
        <button id="download-button">Download Data</button>
        
    </div>
    <style>
        .input-label {
            display: block;
            font-size: 16px;
            margin-left: 45px;
        }
        
        .input-text {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 14px;
            width: 190px;
            margin-left: 15px;
        }
        .label-type-sql {
            margin-left: 90px;
            margin-right: 120px;
            font-size: 21px;
        }
    </style>
    <div class="footer" style="margin-top: 100px;">
        <p>© 2023 JYENDataGen</p>
    </div>

  <script src="static/js/script.js"></script>
</body>
</html>
