<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
		<title>Home page</title>
	</head>
	<body>
		<div 
            id="rasa-chat-widget" 
            data-websocket-url="http://localhost:5005/"  
            data-height=475>
        </div>
        <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
		<div>
			<nav>
				<img src="static/images/Logo-sf.png" alt="" class="logo" />
				<ul class="menu">
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="menu-toggle">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</nav>
		</div>
		<div class="container1">
			<section class="site-container">
				<p></p>
				<h1></h1>

				<div class="row">
					
				</div>
			</section>

		</div>
		<div class="container">
			<section class="site-container">
				<p>Generate</p>
				<h1>Data With JYENDataGen</h1>

				<div class="row">
					<a href="/generator">Generate</a>
				</div>
			</section>

			<section class="social-icons">
				<a href="https://github.com/Yunpei24"><img src="static/images/github-fill1.png" alt=""></a>
				<a href="https://www.linkedin.com/in/joshua-nikiema-17572b23b/"><img src="static/images/linkedin.png" alt=""></a>
				<a href="https://t.me/JoshYun24"><img src="static/images/telegram-fill1.png" alt=""></a>
				<a href="https://drive.google.com/file/d/1u2ZQxyamKsgJ4JxO-kYbytfxaaEkOT_a/view?usp=sharing" target="_blank"><img src="static/images/drive-fill1.png" alt=""></a>
			</section>

		</div>

		<div class="description">
            <h2>Description du site</h2>
            <p>
				Bienvenue sur JYENDataGen, votre solution complète de génération de données textuelles pour tous vos besoins de tests, d'entraînement de modèles d'IA et bien plus encore. Que vous soyez un développeur, un chercheur ou un passionné d'IA, notre plateforme est conçue pour vous offrir des données de qualité et diversifiées pour alimenter vos projets.
			  </p>
			  <p>
				Nous comprenons l'importance des données de haute qualité dans le domaine de l'intelligence artificielle. C'est pourquoi nous mettons à votre disposition un ensemble d'outils avancés pour générer des données textuelles réalistes, variées et pertinentes. Notre vaste collection de modèles et d'algorithmes intelligents vous permettra de créer facilement des textes dans différentes langues, styles et formats, adaptés à vos besoins spécifiques.
			  </p>
			  <p>
				Que vous ayez besoin de données pour l'entraînement de modèles de reconnaissance de la parole, la génération automatique de résumés, la traduction automatique, l'analyse de sentiment ou tout autre cas d'utilisation, JYENDataGen est là pour vous aider. Vous pouvez générer des ensembles de données personnalisés, ajuster les paramètres de génération et obtenir des résultats de haute qualité en un rien de temps.
			  </p>
			  <p>
				Notre équipe d'experts en IA et en traitement du langage naturel travaille constamment pour améliorer notre plateforme et intégrer les dernières avancées technologiques. Nous nous engageons à vous fournir une expérience utilisateur exceptionnelle, des résultats précis et une assistance personnalisée tout au long de votre parcours.
			  </p>
			  <p>
				Rejoignez-nous dès aujourd'hui et explorez le potentiel infini de la génération de données de texte avec JYENDataGen. Accélérez vos projets d'IA, testez vos algorithmes et améliorez la performance de vos modèles grâce à des données fiables et de qualité supérieure.
			  </p>
        </div>
        
        <div class="contact">
            <h2>Contactez-nous</h2>
            <ul>
                <li><a href="mailto:contact@jyendatagen.com">Email</a></li>
                <li><a href="tel:#">Téléphone</a></li>
            </ul>
        </div>
		<div class="footer">
			<p>© 2023 JYENDataGen</p>
		</div>
	</body>
</html>
